/bin
/bin-test
/build
/classes
/doc
/example
/out
/report
/src/ea/test
/src/ea/example

/.idea
/.settings

/.classpath
/.project

*.ipr
*.iws
*.iml
*.class

*.orig

engine-alpha.log

*~

/target/
/engine-alpha/target/
/engine-alpha-edu/target/
/engine-alpha-examples/target/
/engine-alpha-edu-beispiele/target/